@import "tailwindcss";

:root {
  --background: #F3F7F8;
  --foreground: #F3F7F8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2300A3;
  --color-secondary: #00D0FF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
