@import "tailwindcss";

:root {
  --background: #F3F7F8;
  --foreground: #F3F7F8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0764DA;
  --color-secondary: #00D0FF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* React Slick Custom Styles */
.our-work-slider .slick-prev,
.our-work-slider .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.our-work-slider .slick-prev {
  left: -20px;
}

.our-work-slider .slick-next {
  right: -20px;
}

.our-work-slider .slick-prev:before,
.our-work-slider .slick-next:before {
  font-size: 40px;
  color: var(--color-primary);
  opacity: 0.7;
}

.our-work-slider .slick-prev:hover:before,
.our-work-slider .slick-next:hover:before {
  opacity: 1;
}

@media (max-width: 640px) {
  .our-work-slider .slick-prev {
    left: -10px;
  }
  
  .our-work-slider .slick-next {
    right: -10px;
  }
}
